.row
  .ninecol
    .org-subtitle
      %p All Organizations 
      %hr
    .org-listing
      -@organizations.each do |org|
        .row
          .onecol
            %p &nbsp;
          .tencol
            .ninecol
              .eightcol
                %p
                  .item
                    %a{:href => url("organization/#{org.id}")} #{org.name}
  .twocol
    .org-panel-box
      %p{:class => "recent-item-header"} Recent Projects
      -@recent_projects.each do |project|
        .row
          .recent-item
            %a{:href => ("/project/#{project.id}")} #{project.name} 